<script setup lang="ts">
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://vuejs.org/api/sfc-script-setup.html#script-setup
import { useAuth } from "@vueuse/firebase/useAuth";
import { auth } from "./firebase";

import Login from "./components/Login.vue";
import Keypair from "./components/Keypair.vue";

const { isAuthenticated, user } = useAuth(auth);
</script>

<template>
  <Keypair v-if="isAuthenticated" />
  <Login v-else />
</template>

<style scoped>
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}
</style>
