<script setup lang="ts">
import { ref, computed } from "vue";
import { signOut } from "../firebase";
import KeypairDecrypt from "./KeypairDecrypt.vue";
import KeypairEncrypt from "./KeypairEncrypt.vue";
import SessionToken from "./SessionToken.vue";

const activeTab = ref("encryption");
const componentName = computed(() => {
  switch (activeTab.value) {
    case "encryption":
      return KeypairEncrypt;
    case "decryption":
      return KeypairDecrypt;
    case "session":
      return SessionToken;
  }
});
</script>

<template>
  <button type="button" class="signout" @click="signOut">Sign out</button>

  <h1>Experiment 👩‍🔬</h1>

  <nav class="nav">
    <a
      :class="activeTab === 'encryption' && 'active'"
      @click="activeTab = 'encryption'"
      >Encryption</a
    >
    <a
      :class="activeTab === 'decryption' && 'active'"
      @click="activeTab = 'decryption'"
      >Decryption</a
    >
    <a
      :class="activeTab === 'session' && 'active'"
      @click="activeTab = 'session'"
      >Session</a
    >
  </nav>

  <section>
    <KeepAlive>
      <component :is="componentName" />
    </KeepAlive>
  </section>

  <section class="grid"></section>
</template>

<style>
.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.nav {
  border-radius: 8px;
  border: 3px solid #646cff;
  display: flex;
  width: 50%;
  margin: auto;
}

.nav > a {
  flex: 1 1 auto;
  cursor: pointer;
}

.nav > a.active {
  background-color: #646cff;
  color: white;
  transition: background-color 0.25s;
}

.block {
  border-radius: 2rem;
  padding: 1rem;
  border: 1px solid #646cff;
}

.signout {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
</style>
