<script setup lang="ts">
import { computed, ref } from "vue";
import { decodeJwt } from "jose";
import { generateKeypair, Keypair } from "../crypto";
import { encryptKeypair } from "../firebase";

const jsonify = (obj: unknown) => JSON.stringify(obj, null, 2);

const keypair = ref<Keypair | null>(null);
const keypairText = computed(() => jsonify(keypair.value));
const encryptedKeypair = ref<string | null>(null);
const decodedJwt = ref<string | null>(null);
const encryptionError = ref<Error | null>(null);

const updateKeypair = async () => {
  keypair.value = await generateKeypair();
};

const handleEncrypt = async () => {
  if (!keypair.value) return;

  try {
    const { privateKey, publicKey, keyType } = keypair.value;

    const {
      data: { token },
    } = await encryptKeypair({
      key: {
        private_key: privateKey,
        public_key: publicKey,
        key_type: keyType,
      },
      meta: {
        app_platform: "platform",
        app_version: "version",
      },
    });

    encryptedKeypair.value = token;
    encryptionError.value = null;
    decodedJwt.value = jsonify(decodeJwt(token));
  } catch (e) {
    console.log("Error during encryption", e);
    encryptedKeypair.value = null;
    encryptionError.value = e as Error;
    decodedJwt.value = null;
  }
};
</script>

<template>
  <div>
    <h2>Encrypt Keypair</h2>
    <div class="controls">
      <button type="button" @click="updateKeypair">New key</button>
      <button type="button" @click="handleEncrypt">Encrypt key</button>
    </div>

    <pre class="code" v-text="keypairText"></pre>

    <pre class="code" v-text="encryptedKeypair" v-if="encryptedKeypair"></pre>
    <pre class="code" v-text="decodedJwt" v-if="decodedJwt"></pre>

    <pre
      class="code error"
      v-text="encryptionError"
      v-if="encryptionError"
    ></pre>
  </div>
</template>
