<script setup lang="ts">
import { ref } from "vue";
import { decryptKeypair } from "../firebase";

const encryptedPrivateKey = ref<string | null>(null);
const privateKey = ref<string | null>(null);
const decryptError = ref<Error | null>(null);

const handleDecrypt = async () => {
  if (!encryptedPrivateKey.value) return;

  try {
    const decrypted = await decryptKeypair({
      encrypted_private_key: encryptedPrivateKey.value,
    });

    privateKey.value = decrypted.data.private_key;
    decryptError.value = null;
  } catch (e) {
    console.error("Error during decryption", e);
    privateKey.value = null;
    decryptError.value = e as Error;
  }
};
</script>

<template>
  <div>
    <h2>Decrypt private key</h2>

    <p class="controls">
      <input class="input" v-model="encryptedPrivateKey" />
      <button type="button" @click="handleDecrypt">Decrypt</button>
    </p>

    <pre class="code" v-text="privateKey" v-if="privateKey"></pre>
    <pre class="code error" v-text="decryptError" v-if="decryptError"></pre>
  </div>
</template>
