<script setup lang="ts">
import { ref } from "vue";
import { signIn, signInWithGoogle } from "../firebase";

const email = ref("");
const password = ref("");

const handleSignIn = () => {
  signIn(email.value, password.value);
};
</script>

<template>
  <h1>Sign in</h1>

  <p class="controls">
    <input class="input" v-model="email" placeholder="Email" />
    <input class="input" v-model="password" placeholder="Password" />

    <button type="button" @click="handleSignIn">Sign in</button>
    <button type="button" @click="signInWithGoogle">With Google</button>
  </p>
</template>
