<script setup lang="ts">
import { decodeJwt } from "jose";
import { ref } from "vue";
import { getSessionToken } from "../firebase";

const jsonify = (obj: unknown) => JSON.stringify(obj, null, 2);

const sessionToken = ref<string | null>(null);
const decodedJwt = ref<string | null>(null);
const tokenError = ref<Error | null>(null);

const getToken = async () => {
  try {
    const {
      data: { token },
    } = await getSessionToken();
    sessionToken.value = token;
    decodedJwt.value = jsonify(decodeJwt(token));
    tokenError.value = null;
  } catch (e) {
    console.error("Error during token fetching", e);
    sessionToken.value = null;
    decodedJwt.value = null;
    tokenError.value = e as Error;
  }
};
</script>

<template>
  <div>
    <h2>Get a session token JWT</h2>

    <p class="controls">
      <button type="button" @click="getToken">Get token</button>
    </p>

    <pre class="code" v-text="sessionToken" v-if="sessionToken"></pre>
    <pre class="code" v-text="decodedJwt" v-if="decodedJwt"></pre>
    <pre class="code error" v-text="tokenError" v-if="tokenError"></pre>
  </div>
</template>
